{% extends 'base.html' %}
{% block content %}
	<div class="forgot-password1-form">
    <form method="POST">
    	{{ form.hidden_tag() }}	
            <h2 class="text-center">Enter Your Email Address</h2> 
             <div class="form-group">
            {{ form.email.label}} {{form.email(type="email", class="form-control", placeholder="Email id", required="required")}}
            {{ form.validate_error.label(validate_error, id="validation_msg") }}
        </div>
        <div class="form-group">
        	{{ form.submit(type="submit", class="btn btn-primary btn-block") }}
        </div>
               
    </form>
    </div>    

{% endblock %}